/* general predisposition */
*{
  font-family: 'Open Sans', sans-serif;
  color: #33475b;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* button orange */
.orange{
  border-radius: 5px;
  background-color: #ff7a59;
  color: white;
}

/* container predisposition */
.container{
  width: 80%;
  margin: 0 auto;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

/* header page */
header{
  background: url('../img/jumbotron.png') no-repeat;
  background-size: 100%;
  background-position: 100% bottom;
  /* debug */
  height: 125vh;
}

 /* part1 header */
#part1{
   width: 100%;
   background-color: #f5f8fa ;
   border-bottom: solid 1px #e2e1e1;
   position: fixed;
   z-index: 999;
   padding: 25px 0;
 }

 #part1 li{
   display: inline-block;
 }

 #part1 a{
   text-decoration: none;
 }

 #part1 i{
   padding: 0 5px;
 }

 #column1-part1, #column2-part1 {
   float: left;
 }

 /* column 1 part 1 */
 #column1-part1{
   width: 70%;
 }

 #column1-part1 a{
   padding-right: 10px;
 }

 #column1-part1 li:last-child{
   padding-left: 10px;
   border-left: solid 1px black;
 }

 /* column 2 part 1 */
 #column2-part1 {
   width: 30%;
 }

 #column2-part1 li{
   padding-left: 15px;
 }

 #login{
   background-color: white;
   border-radius: 5px;
   border: solid 2px #ff7a59;
   color:#ff7a59;
   padding: 9px 17px;
 }

 #column2-part1 .orange{
   padding: 10px 7px;
 }

 /* parte2 header */
 #part2{
   padding-top: 80px;
   background-color: white ;
 }

 #part2 li{
   display: inline-block;
 }

 #part2 a{
   font-size: 1.5em;
   text-decoration: none;
 }

 #column1-part2, #column2-part2 {
   padding: 20px;
   float: left;
 }

 /* column 1 part2 */
 #column1-part2{
   width: 35%;
 }

 /* column 2 part2 */
 #column2-part2{
   width: 65%;
 }

 #column2-part2 a{
   padding-left: 20px;
 }

 /* part 3 header */
 #text-part3{
   margin-top: 50px;
   width: 40%;
 }

 #text-part3 h1{
   font-size: 2.5em;
   margin-bottom: 15px;
 }

 #text-part3 p{
   padding: 15px 0;
 }

 #text-part3 .orange{
   text-align: center;
   width: 45%;
   padding: 15px 7px;
   margin: 15px 0;
 }


/* main page */
 /* section1 main */
 #section1{
   background-color: #f5f8fa;
   /* debug */
   height: 50vh;
 }

 /* section 2 main */
 #section2{
   background-image: linear-gradient(45deg,#00a4bd,#00bda5);
 }

 #section2 *{
   color:white;
 }
 /* block text */
 #block-text{
   text-align: center;
   padding-top: 50px;
 }

 #block-text h1{
   font-size: 2em;
   padding-bottom: 30px;
 }

 /* block lines */
 #block-lines{
   padding: 50px 0;
 }

 .lines h2{
   font-size: 2em;
 }

  .lines .colonna{
   text-align: center;
   display: inline-block;
 }

 .lines:last-child{
   border-top: solid 2px white;
 }

 .colonna{
   border-right: solid 1px white;
   padding: 30px 0;
   width: 24%;
 }

 .colonna:last-child{
   border-right: 0px;
 }

 .colonna *{
   padding-bottom: 10px;
 }


 /* section3 main */
 #section3{

 }

 /* block1 section3 */
 #block1-section3{
   padding: 5% 10%;
 }

 /* line 1 block 1 section3 */
 #column1-section3{
   float: left;
   width: 25%;
 }

 #column1-sector3 p{
   width: ;
 }

 #column2-section3{
   float: left;
   padding-left: 15%;
   width: 70%;
 }

 #column2-section3 div{
   float: left;
   width: 25%;
   height: 50%;
   padding: 10px;
 }

 #column2-section3 img{
   text-align: center;
   vertical-align: middle;
   width: 100%;
   height: 100%;
   padding: 5px;
 }

 /* block 2 section 3 */
 #block2-section3{
   padding: 10% 0;
 }

 #column1-block2{
   float: left;
   width: 40%
 }

 #column1-block2 h2{
   font-size: 2em;
   padding-bottom: 10px;
 }

 #column1-block2 p{
   font-size: 0.85em;
   padding: 40px 0;
 }

 #column1-block2 a{
   text-decoration: none;
   padding: 15px;
 }

 #column2-block2{
   float: left;
   width: 60%
 }

 #column2-block2 img{
   padding-bottom: 10%;
   float: right;
   width: 45%;
 }

/* footer */
footer{
  background-color: #33475b;
  /* debug */
  height: 50vh;
}
