/* general predisposition */
*{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #33475b;
}

a{
  text-decoration: none;
}


/* button orange */
.orange{
  border-radius: 5px;
  background-color: #ff7a59;
  color: white;
}

.orange:hover{
  opacity: 0.5;
}

/* container predisposition */
.container{
  width: 80%;
  margin: 0 auto;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

/* header page */
header{
  background: url('../img/jumbotron.png') no-repeat;
  background-size: 100%;
  background-position: 100% bottom;
  /* debug */
  height: 100vh;
}

 /* part1 header */
#part1{
  height: 10%;
   width: 100%;
   background-color: #f5f8fa ;
   border-bottom: solid 1px #e2e1e1;
   position: fixed;
   z-index: 999;
   padding: 2% 0;
 }

 #part1 li{
   display: inline-block;
 }

 #column1-part1, #column2-part1 {
   float: left;
 }

 /* column 1 part 1 */
 #column1-part1{
   width: 70%;
 }

 #column1-part1 a{
   padding-right: 10px;
 }

 #column1-part1 li:last-child{
   padding-left: 10px;
   border-left: solid 1px black;
 }

 /* column 2 part 1 */
 #column2-part1 {
   width: 30%;
 }

 #column2-part1 li{
   padding-left: 5%;
 }

 #login{
   background-color: white;
   border-radius: 5px;
   border: solid 1px #ff7a59;
   color:#ff7a59;
   padding: 9px 17px;
 }

 #login:hover{
   background-color: rgba(255, 152, 0, 0.05);
 }

 #column2-part1 .orange{
   padding: 10px 7px;
 }

 /* parte2 header */
 #part2{
   padding-top: 5%;
   background-color: white ;
 }

 #part2 li{
   display: inline-block;
 }

 #part2 a{
   font-size: 1.5em;
 }

 #column1-part2, #column2-part2 {
   padding: 1%;
   float: left;
 }

 /* column 1 part2 */
 #column1-part2{
   width: 10%;
 }

 /* column 2 part2 */
 #column2-part2{
   width: 90%;
   padding-left: 40%;
 }

 #column2-part2 a{
   padding-left: 20px;
 }

 /* part 3 header */
 #text-part3{
   margin-top: 3%;
   width: 40%;
 }

 #text-part3 h1{
   font-size: 2.5em;
   margin-bottom: 5%;;
 }

 #text-part3 p{
   padding: 15px 0;
 }

 #text-part3 .orange{
   text-align: center;
   width: 45%;
   padding: 15px 7px;
   margin: 15px 0;
 }


/* main page */
 /* section1 main */
 #section1{
   background-color: #f5f8fa;
 }


 /* block 1 section 1 main */
 #block1-section1{
   padding: 5%;
   text-align: center;
 }

 #block1-section1 img{
   width: 20%;
 }

 #block1-section1 h2{
   padding-bottom: 2%;

 }

 /* block 2 section 1 main */
 #block2-section1{
   background-color: white;
   margin-bottom: 5%
 }

 #block2-section1:hover{
   padding: 2%;
   opacity: 0.6;
 }

 #block2-section1 i{
   color: #ff7a59;
 }

 #block2-section1:after{
   content: "";
   display: table;
   clear: both;
 }

 #subblockl-block2{
   text-align: center;
   float: left;
   width: 30%;
 }

 #subblockl-block2 img{
   width: 50%;
   padding: 4% 0;
   margin-top: 15%;
 }

 #subblockl-block2 .orange{
   margin-bottom: 25%;
   margin-left: 25%;
   width: 50%;
   padding: 4%;
 }

 #subblock2-block2{
   float: left;
   width: 70%;
 }

 #subblock2-block2 h2{
   margin-top: 8%;
 }

 #subblock2-block2 p{
   padding-top: 3%;
   padding-right: 20%;
 }

 #subblock2-block2 h4{
   padding-top:3%;
 }

 #subblock2-block2 hr{
   float: right;
   width: 60%;
   margin-right: 20%;
 }

#subblock2-block2 ul{
  text-decoration: none;
}

 #subblock2-block2 li{
   display: inline-block;
   padding-top: 3%;
   padding-right: 3%;
 }

 /* block 3 section 1 main */

 .column-block3:hover{
   padding: 2%;
   opacity: 0.6;
 }

 .column-block3{
   width: 30%;
   float: left;
   background: white;
   margin: 5% 3% 5% 0;
   text-align: center;
 }


 .column-block3 img{
   height: 150px;
   width: 100px;
   margin: 10% 0;
 }

 .column-block3 p{
   margin: 1% 3%;
 }

 .column-block3 *{
   margin-top: 5%;
 }
 .column-block3 hr{
   margin: 10%;
   width: 80%;

 }

 .column-block3 ul{
   list-style-type: none;
   padding: 5% 0;
 }

 .column-block3 li{
   margin-top: 0;
   text-align: left;
   padding-left: 20%;
 }

 .column-block3 i{
   color: #ff7a59;
 }


 .column-block3 .orange{
   padding: 4% 0;
   width: 50%;
   margin: 10% auto;
 }

 /* section 2 main */
 #section2{
   background-image: linear-gradient(45deg,#00a4bd,#00bda5);
 }

 #section2 *{
   color:white;
 }
 /* block text */
 #block-text{
   text-align: center;
   padding-top: 50px;
 }

 #block-text h1{
   font-size: 2em;
   padding-bottom: 30px;
 }

 /* block lines */
 #block-lines{
   padding: 10% 0;
 }

 .lines h2{
   font-size: 2em;
 }

  .lines .colonna{
   display:inline-block ;
   text-align: center;
 }

  .lines:first-child{
   border-bottom: solid 2px white;
 }

 .colonna{
   border-right: solid 1px white;
   padding: 30px 0;
   width: 24%;
 }

 .colonna:last-child{
   border-right: 0px;
 }

 .colonna *{
   padding-bottom: 10px;
 }


 /* section3 main */

 /* block1 section3 */
 #block1-section3{
   padding: 5% 10%;
 }

 /* line 1 block 1 section3 */
 #column1-blockl{
   float: left;
   width: 25%;
 }

 #column1-blockl p{
   width: ;
 }

 #column2-blockl{
   float: left;
   padding-left: 15%;
   width: 70%;
 }

 .line-column2{
   width: 100%;
   height: 50;
 }

 .line-column2 div{
   float: left;
   height: 100%;
   width: 25%;
 }

 .line-column2 img{
   height: 80%;
   width:80%;
 }

 /* block 2 section 3 */
 #block2-section3{
   padding: 10% 0;
 }

 #column1-block2{
   float: left;
   width: 40%
 }

 #column1-block2 h2{
   font-size: 2em;
   padding-bottom: 10px;
 }

 #column1-block2 p{
   font-size: 0.85em;
   padding: 40px 0;
 }

 #column1-block2 a{
   padding: 15px;
 }

 #column2-block2{
   float: left;
   width: 60%
 }

 #column2-block2 img{
   padding-bottom: 10%;
   float: right;
   width: 45%;
 }

/* footer */
footer{
  background-color: #33475b;
}

footer *{
  color: white;
}

footer a:hover{
  color: #0091ae;
}


/* area1 */
.column-area1 {
  width: 25%;
  float: left;
  padding: 5% 0;
}

.column-area1 h4{
  padding-bottom: 5%;
}

.column-area1 li{
  list-style-type: none;
  padding-bottom: 4%;

}

#button-footer a{
  width: 80%;
  border-radius: 5px;
  text-align: center;
  margin: 2% 0;
  padding: 2% 1%;
  background: white;
  color: #33475b;
}

.column-area1 i{
  margin-right:  5%;
}

.column-area1 i:hover{
  color: #0091ae;
}

/* area2 */
#area2{
  text-align: center;
  padding-top:  2%;
}

#area2 .container{
  border-bottom: solid 2px white;

}

#area2 div{
  display: inline-block;
  padding-bottom: 0.5%;
}

#area2 a{
  padding-right: 3%;
}

#area3{
  padding: 2% 0;
}

#column1-area3{
  float: left;
  width: 80%
}

#column2-area3{
  float: left;
  width: 20%;
}

#column2-area3 a{
  padding-left: 3%;
}
